.view {
    width: 100%;
    height: 300vh;

    display: flex;
    justify-content: center;

    margin-top: 60px;

}



.view_item {
    width: 70%;
    height: auto;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
    /* background-color: gold; */


}

.globe:hover {
    color: blue
}

.border_1 {

    border-bottom: solid 2px rgb(156, 156, 156);

}

.exp_edu {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 48%);

    /* padding: 20px 0; */

    justify-content: space-between;
}

.exp_1 {

    border: 1px solid gray;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px
}

.edu_1 {

    border: 1px solid gray;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px
}

.tarmoqlar svg {
    font-size: 34px;
    color: #ffffff
}

.github {

    width: 100%;
    height: 400px;
    background-color: aqua;
}